---
title: >-
  Australia will consider requiring app stores to block AI services without age
  verification
date: '2026-03-02'
excerpt: >-
  Australia&#39;s government may take a strict stance on ensuring younger users
  cannot access AI chatbots. Reuters reports that Australian regulators ma...
coverImage: >-
  https://images.unsplash.com/photo-1677442136019-21780ecad995?w=400&h=200&fit=crop&auto=format
author: AIVibe
tags:
  - Ai
category: General AI
source: >-
  https://www.engadget.com/ai/australia-will-consider-requiring-app-stores-to-block-ai-services-without-age-verification-221714252.html?src=rss
---
<p>Australia&#39;s government may take a strict stance on ensuring younger users cannot access AI chatbots. <a target="_blank" class="link" href="https://www.reuters.com/business/media-telecom/australia-says-it-may-go-after-app-stores-search-engines-ai-age-crackdown-2026-03-01/" data-i13n="cpos:1;pos:1"><em>Reuters</em></a> reports that Australian regulators may require app storefronts to block AI services that do not implement age verification for restricting mature content by March 9.&nbsp;</p><p>&quot;eSafety will use the full range of our powers where there is non-compliance,&quot; a representative for the commissioner said in a statement to the publication. Those paths could include &quot;action in respect of gatekeeper services such as search engines and app stores that provide key points of access to particular ‌services.&quot;</p><p>A review by <em>Reuters</em> found that of 50 leading text-based AI chat services in the region, only nine had introduced or shared plans for age assurance. Eleven services reportedly &quot;had blanket content filters or planned to block all Australians from using their service,&quot; according to the report, leaving a large number that had not taken public action a week ahead of the country&#39;s deadline. Failure to comply could see AI companies face fines of up to A$49.5 million ($35 million).</p><p>The question of which parties are responsible for keeping children from accessing potentially harmful content is being debated around the world. In the US, for instance, <a target="_blank" class="link" href="https://www.engadget.com/big-tech/apple-explains-how-it-will-comply-with-app-store-age-verification-requirements-in-texas-185934469.html" data-i13n="cpos:2;pos:1">Apple</a> and <a target="_blank" class="link" href="https://www.engadget.com/big-tech/google-asks-utahs-governor-to-veto-the-states-app-store-age-verification-bill-233733280.html" data-i13n="cpos:3;pos:1">Google</a> have been lobbying to have the task delegated to platforms rather than app store operators. The language from the Australian regulators about all stores is hardly definitive at this stage, but given the breadth of its <a target="_blank" class="link" href="https://www.engadget.com/big-tech/australia-is-one-step-away-from-banning-social-media-for-under-16s-160454882.html" data-i13n="cpos:4;pos:1">sweeping ban</a> on the use of social media and some highly social <a target="_blank" class="link" href="https://www.engadget.com/social-media/australia-is-adding-twitch-to-its-social-media-ban-for-children-202033276.html" data-i13n="cpos:5;pos:1">digital platforms</a> for citizens under age 16 enacted last year, an aggressive stance seems to align with leaders&#39; priorities.&nbsp; </p><p></p>This article originally appeared on Engadget at https://www.engadget.com/ai/australia-will-consider-requiring-app-stores-to-block-ai-services-without-age-verification-221714252.html?src=rss
