---
title: Florida is suing several porn companies over age verification
date: '2025-08-05'
excerpt: >-
  Florida Attorney General James Uthmeier has sued multiple pornography
  platforms on allegations that they fall afoul of age verification laws. The
  stat...
coverImage: >-
  https://images.unsplash.com/photo-1559526324-4b87b5e36e44?w=400&h=200&fit=crop&auto=format
author: AIVibe
tags:
  - Ai
  - Work
category: Finance
source: >-
  https://www.engadget.com/big-tech/florida-is-suing-several-porn-companies-over-age-verification-190251850.html?src=rss
---
<p>Florida Attorney General James Uthmeier has <a data-i13n="elm:context_link;elmt:doNotAffiliate;cpos:1;pos:1" class="no-affiliate-link" href="https://www.myfloridalegal.com/newsrelease/attorney-general-james-uthmeier-fights-protect-children-online-pornography-brings"><ins>sued</ins></a> multiple pornography platforms on allegations that they fall afoul of age verification laws. The state passed HB 3 in March 2024 and the law took effect in January 2025. HB 3 <a data-i13n="elm:context_link;elmt:doNotAffiliate;cpos:2;pos:1" class="no-affiliate-link" href="https://www.flsenate.gov/Session/Bill/2024/3/?Tab=BillText"><ins>placed</ins></a> new requirements on services to confirm the ages of their users if they contain &quot;material harmful to minors&quot; and to ensure nobody younger than 18 accesses their content.</p>
<p>The lawsuit today targets the companies behind several porn sites, including XVideos, XNXX, BangBros and Girls Gone Wild, as well as adult advertising network Traffic Factory. &quot;We are taking legal action against these online pornographers who are willfully preying on the innocence of children for their financial gain,&quot; Uthmeier said.</p>
<span id="end-legacy-contents"></span><p>Although today&#39;s lawsuit focuses on pornography providers, many of the provisions in HB 3 also center on teen use of social media. In June, a judge <a data-i13n="elm:context_link;elmt:doNotAffiliate;cpos:3;pos:1" class="no-affiliate-link" href="https://www.engadget.com/social-media/floridas-social-media-law-has-been-temporarily-blocked-by-a-federal-judge-123004847.html"><ins>temporarily blocked</ins></a> the law after NetChoice and the Computer and Communications Industry Association — groups representing several social media platforms — sought a preliminary injunction. Uthmeier has appealed that injunction to the Eleventh Circuit.</p>
<p><em>Yahoo, the parent company of Engadget, is a member of NetChoice.</em>&nbsp;</p>This article originally appeared on Engadget at https://www.engadget.com/big-tech/florida-is-suing-several-porn-companies-over-age-verification-190251850.html?src=rss
